@media screen and (max-width:67.5em) {
    .nav_search {
        display: none
    }
}

.cart_gap {
    gap: 1rem
}

.cart_image img {
    height: 16rem;
    /* max-inline-size: fit-content;
    block-size: inherit */
}

.cart_item {
    padding: 3rem
}

.cart_item_info {
    height: 26rem
}

.cart_count i {
    font-size: 2rem
}

.cart_offer {
    color: var(--red)
}

.cart_main {
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
    gap: 2rem;
    justify-items: center
}

.cart_management {
    grid-column: 1/2
}

.cart_price_details {
    grid-column: 2/-1;
    width: 40rem;
    height: 30rem
}

.product_name, .total_amt {
    font-size: 1.6rem;
}

.total_amt {
    border-top: 1px solid;
    padding-top: 8px;
}

.price_splitup {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

@media screen and (max-width:48em) {
    #cart_main {
        grid-template-columns: 1fr
    }

    #cart_management, #cart_price_details {
        grid-column: 1/3
    }

    #cart_management .cart_image img {
        width: 60%;
        display: block;
        margin: auto
    }

    #cart_price_details {
        width: 95%;
        margin: 1rem;
        padding: 1rem
    }
}

.product_price_detail {
    padding-bottom: 0.8rem;
    display: block;
}