:root {
    --primary-color: #4723D9;
    --white: #fff;
    --bg-color: #F7F7F7;
    --red: #ff0000;
    --product-bg: #f7f8f9;
    --box-shadow: #00000033;
    --product-hover-bg: #ffffff99;
    --black: #000
}